<h2><%= @album.name %></h2>
<br>
<span><%= link_to "Edit", edit_album_path(@album) %></span>

<br>
<div class="d-flex p-2 flex-wrap albums_grid">
<% @album.photos.each do |photo| %>

  <%= react_component("Photo", props: {name: photo.name, image_url: photo.image_url, description: photo.description}, prerender: false) %>

<% end %>
</div>