<h2><%= @album.name %></h2>
<br>
<div style="width: 100%">

  <%=
    react_component("Album",
      props: {
        id: @album.id,
        photos: @album.photos,
        name: @album.name,
        description: @album.description,
        photosPath: album_photos_path(@album.id)
      })
  %>

</div>